{% extends "::base.html.twig" %}

{% block title %}Inscription{% endblock %}
 {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('styleConnexionVue.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
 {% endblock %}
{% block body %}
<div class="hero-unit">
	  <h1>Paquito</h1>
	</div>
        

    {{ form_row(form._token) }}
   <div  class="label label-default" id="formulaireConnexion" >
			<form class="form-horizontal" method="post">
				<div class="control-group">
				    <div class="control-group">
				    <label class="control-label" for="mailC">Mail :</label>
				    <div class="controls">
				     {{ form_widget(form.mail) }}
				    </div>
				</div>
				<div class="control-group">
				    <label class="control-label" for="mdpC">Mot de passe :</label>
				    <div class="controls">
				     {{ form_widget(form.passworda) }}
				    </div>
					<div class="controls">
				     {{ message }}
				    </div>
					
				</div>
				<div class="mdpOublieBtn">
					<a id="lienMdpOublie" href="Mot de passe oublié.html">Mot de passe oublié</a>
				</div>
				<div class="btn-group mdpOublieBtn">
					<button type ="submit" id="buttonConnexion" class ="btn"/>Connexion</button>
				</div>
			</form>
	</div>
	</div>
{% endblock %}
